**Week** **1** **Assignment**

In [4]:
print("Lower Triangular Pattern\n")

row = 5

for i in range(1,row+1):
    print("* " *i)

Lower Triangular Pattern

*
* *
* * *
* * * *
* * * * *

In [3]:
print("Upper Triangular Pattern\n")

for i in range(row,0,-1):
    print("* " *i)

Upper Triangular Pattern

* * * * *
* * * *
* * *
* *
*

In [5]:
print("Pyramid Pattern\n")
for i in range(1,row+1):
    print(" "*(row-i)+"* " *i)

Pyramid Pattern

    *
   * *
  * * *
 * * * *
* * * * *